---
layout: default
title: Game Portfolio
---

<link rel="stylesheet" href="/styles/listed_game.css">

<div class="container-fluid mt-4 mb-3">
	<div class="row mb-3">
		<div class="col-sm-12">
			<h1 class="display-3 text-center">Game Portfolio</h1>
		</div>
	</div>

	<div class="row justify-content-around align-items-center ml-5 mr-5">
		{% assign games_sorted = site.games | reverse %}
        {% for game in games_sorted %}
            {% include listed_game.html %}
		{% endfor %}
	</div>
</div>
