<!-- Listed game display -->
<!-- Based on GCS Wobsite - https://github.com/GameCreationSociety/GameCreationSociety.github.io/blob/master/_includes/listed_game.html -->

{% assign url = game.url %}
{% if game.redirect_to %}
    {% assign url = game.redirect_to %}
{% endif %}

{% assign title = game.title %}
{% if game.long_title %}
    {% assign title = game.long_title %}
{% endif %}

<a class="listed-game-preview listed_game ml-2 mr-2
{% for tag in game.tags %} {{ tag }}_game-tag {% endfor %}
{% if game.awards and game.awards.size > 0 %} Award-Winning_game-tag {% endif %}"
    id="{{ game.title | slugify }}-preview" href="{{ url }}">
    <div id="{{ game.title | slugify }}-preview-child" class="listed-game-preview-img"
        {% if game.thumbnail %}
            style="background-image: url('{{ game.image_path }}{{game.thumbnail}}')"
        {% else %}
            style="background-image: url('{{ game.image_path }}{{ game.logo }}')"
        {% endif %}>
    </div>
    <div id="{{game.title | remove: ' '}}_div" class="listed-game-preview-overlay">
        <h4 class="game_title"><strong>{{ title }}</strong></h4>
        <p class="game_semester_year">{{ game.time_period }}</p>
        {% for member in game.project_members %}
            <p class="game_members" style="display:none">{{member[0]}}</p>
        {% endfor %}
    </div>
    
    <!-- Preload the on-hover screenshot -->
    <!-- Also manually add in a stripped-down description that doesn't display (this is for searching) -->
    <script type="text/javascript">
        // Create description element and set properties
        var desc = document.createElement("p");
        desc.className = "game_description";
        desc.style.display = "none";

        // Filter and strip text and then add it to a div
        var text = "{{game.description | newline_to_br | strip_html | strip_newlines | strip | replace: '"', ''}}";
        desc.appendChild(document.createTextNode(text));
        document.getElementById("{{game.title | remove: ' '}}_div").appendChild(desc);

        // https://stackoverflow.com/questions/9847580/how-to-detect-safari-chrome-ie-firefox-and-opera-browser

        // Opera 8.0+
        var isOpera = (!!window.opr && !!opr.addons) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;

        // Safari 3.0+ "[object HTMLElementConstructor]" 
        var isSafari = /constructor/i.test(window.HTMLElement) || (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })(!window['safari'] || (typeof safari !== 'undefined' && safari.pushNotification));

        // Internet Explorer 6-11
        var isIE = /*@cc_on!@*/false || !!document.documentMode;

        {% assign fallback_hover_image = false %}

        if (isOpera || isSafari || isIE) {
            {% assign fallback_hover_image = true %}
            {% if game.thumbnail %}
                document.getElementById("{{ game.title | slugify }}-preview-child").style="background-image: url('{{ game.image_path }}{{ game.thumbnail }}')";
            {% elsif game.screenshots.size > 0 %}
                document.getElementById("{{ game.title | slugify }}-preview-child").style="background-image: url('{{ game.image_path }}{{ game.logo }}')";
            {% endif %}
        }

        {% assign index = game.screenshots.size | minus: 1 %}

        {% assign split_screenshot_string = game.screenshots[index] | split: "." %}

        {% if split_screenshot_string[1] == "webm" %}
            convert("{{ game.image_path }}{{ split_screenshot_string[0] }}", "{{ game.title }}", "header-{{ game.title | slugify }}", "{{ game.title | slugify }}-preview-child", true, "{{ split_screenshot_string[1] }}");
        {% endif %}
    </script>
</a>

<style>
    {% if game.screenshots.size > 1 %}
        #{{ game.title | slugify }}-preview:hover .listed-game-preview-img {
            {% assign index = game.screenshots.size | minus: 1 %}
            {% assign split_screenshot = game.screenshots[index] | split: "." %}

            {% if fallback_hover_image %}
                {% if split_screenshot[1] == "webm" || game.webm_hover_enabled %}
                    background-image: url("{{ game.image_path }}{{split_screenshot[0]}}.gif") !important;
                {% else %}
                    background-image: url("{{ game.image_path }}{{game.screenshots[index]}}") !important;
                {% endif %}
            {% endif %}
        }
    {% endif %}
</style>