<!-- Listed game display -->
<!-- Based on GCS Wobsite - https://github.com/GameCreationSociety/GameCreationSociety.github.io/blob/master/_includes/listed_game.html -->

{% assign url = game.url %}
{% if game.redirect_to %}
    {% assign url = game.redirect_to %}
{% endif %}

{% assign title = game.title %}
{% if game.long_title %}
    {% assign title = game.long_title %}
{% endif %}


{% if game.thumbnail %}
    {% assign background_image = game.image_path | append: game.thumbnail %}
{% else %}
    {% assign background_image = game.image_path | append: game.logo %}
{% endif %}


{% assign hover_img = nil %}
{% if game.screenshots.size > 0 %}
    {% assign index = game.screenshots.size | minus: 1 %}
    {% assign split_screenshot = game.screenshots[index] | split: "." %}

    {% if split_screenshot[1] == "webm" || game.webm_hover_enabled %}
        {% assign hover_img = game.image_path | append: split_screenshot[0] | append: ".gif" %}
    {% else %}
        {% assign hover_img = game.image_path | append: game.screenshots[index] %}
    {% endif %}
{% endif %}

<a class="listed-game-preview listed_game ml-2 mr-2
{% for tag in game.tags %} {{ tag }}_game-tag {% endfor %}
{% if game.awards and game.awards.size > 0 %} Award-Winning_game-tag {% endif %}"
    id="{{ game.title | slugify }}-preview" href="{{ url }}">
    <div id="{{ game.title | slugify }}-preview-child" class="listed-game-preview-img" style="background-image: url('{{ background_image }}')"></div>
    <div style="display:none"><img id="{{ game.title | slugify }}_hover_preload" src="{{hover_img}}"></div>
    <div id="{{ game.title | slugify }}_div" class="listed-game-preview-overlay">
        <h4 class="game_title"><strong>{{ title }}</strong></h4>
        <p class="game_semester_year">{{ game.time_period }}</p>
        {% for member in game.project_members %}
            <p class="game_members" style="display:none">{{member[0]}}</p>
        {% endfor %}
        <!-- Stripped-down description that doesn't display (this is for searching) -->
        <p class="game_description" style="display:none">{{game.description | newline_to_br | strip_html | strip_newlines | strip | replace: '"', ''}}</p>
    </div>
    
    <!-- Preload the on-hover screenshot -->
    <script type="text/javascript">
        function once_loaded() {
            document.getElementById("{{ game.title | slugify }}-preview-child").classList.add("hover-img-loaded");
        }

        var img = document.getElementById("{{ game.title | slugify }}_hover_preload");
        if (img.complete) {
            once_loaded();
        } else {
            img.addEventListener('load', once_loaded);
            img.addEventListener('error', function() {
                console.error("failed to load image:");
                console.error(img);
            });
        }

        // Idk if this is still doing something?
        // https://stackoverflow.com/questions/9847580/how-to-detect-safari-chrome-ie-firefox-and-opera-browser

        // Opera 8.0+
        var isOpera = (!!window.opr && !!opr.addons) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;

        // Safari 3.0+ "[object HTMLElementConstructor]" 
        var isSafari = /constructor/i.test(window.HTMLElement) || (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })(!window['safari'] || (typeof safari !== 'undefined' && safari.pushNotification));

        // Internet Explorer 6-11
        var isIE = /*@cc_on!@*/false || !!document.documentMode;

        if (isOpera || isSafari || isIE) {
            document.getElementById("{{ game.title | slugify }}-preview-child").style="background-image: url('{{ background_image }}')";
        }
    </script>
</a>

{% if hover_img %}
<style>
        @media screen and (min-width: 992px) {
            /* #{{ game.title | slugify }}-preview:hover .listed-game-preview-img { */
            #{{ game.title | slugify }}-preview:hover .listed-game-preview-img.hover-img-loaded {
                background-image: url("{{ hover_img }}") !important;
            }
        }
</style>
{% endif %}