<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Meta data -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<!-- Non-required, but good meta tags -->
	<meta name="author" content="Dominic Calkosz">
	{% if page.short_description %}
		<meta name="description" content="{{ page.short_description | strip_html }}">
		<meta property="og:description" content="{{ page.short_description | strip_html }}">
	{% elsif page.description %}
		<meta name="description" content="{{ page.description | strip_html }}">
		<meta property="og:description" content="{{ page.description | strip_html }}">
	{% else %}
		<meta name="description" content="The personal website and game portfolio of Dominic Calkosz">
		<meta property="og:description" content="The personal website and game portfolio of Dominic Calkosz">
	{% endif %}
	<meta name="keywords" content="Dominic, Calkosz, Games, Game Creation Society, Coding, CMU, Carnegie Mellon University">
	<!-- <meta name="theme-color" content="#b12d36"> -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ site.url }}{{ page.url }}">
	{% if page.thumbnail %}
		<meta property="og:image" content="{{ site.url }}{{ page.image_path }}{{ page.thumbnail }}">
	{% elsif page.logo %}
		<meta property="og:image" content="{{ site.url }}{{ page.image_path }}{{ page.logo }}">
	{% else %}
		<meta property="og:image" content="{{ site.url }}/images/Profile.JPG">
	{% endif %}
	<!-- Title -->
	<title>{{ page.title }} - Dominic Calkosz</title>
	<meta property="og:title" content="{{ page.title }} - Dominic Calkosz">

	<!-- Favicon -->
	{% include favicon.html %}
	<!-- Analytics -->
	{% include analytics.html %}

	<!-- Stylesheet dependencies -->
	<link rel="stylesheet" href="/styles/fonts.css">
	<link rel="stylesheet" href="/styles/main.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>


<body>
	<!-- Header -->
	{% unless page.no-header or layout.no-header %}
		{% include header.html %}
	{% endunless %}

	<!-- Page Content -->
	{{ content }}

	<!-- Footer -->
	<!-- { % include footer.html % } -->

	<!-- Script dependencies -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
	<script src="/scripts/nav.js"></script>
	<script src="/scripts/key_reader.js"></script>
</body>
</html>
