---
# Front Matter
layout: default
---

<div class="container v-center-container mt-4 mb-4">
	<!-- Title -->
	{% if page.display_title %}
	<div class="row mb-4">
		<div class="col-12">
			{% if page.long_title %}
				<h1 class="display-3 text-center">{{ page.long_title }}</h1>
			{% else %}
				<h1 class="display-3 text-center">{{ page.title }}</h1>
			{% endif %}
		</div>
	</div>
	{% endif %}


	<!-- Logo -->
	{% if page.logo %}
	<div class="row mb-5">
		<div class="col-12">
			<img class="game-logo rounded-img" src="{{ page.image_path }}{{ page.logo }}" alt="Game Logo">
		</div>
	</div>
	{% endif %}


	<!-- Main Content -->
	<div class="row mt-4 justify-content-center">

		<!-- Description -->
		{% if page.description %}
		<div class="v-center-col col-lg-6 col-12 order-lg-1 mb-5 text-center">
			<div>
				<h4>Description</h4>
				<p>
					{{ page.description }}
				</p>
			</div>
		</div>
		{% endif %}


		<!-- Screenshot 0 -->
		{% if page.screenshots and page.screenshots[0] %}
			{% assign screenshot_path = page.image_path | append: page.screenshots[0] %}
			{% assign order_lg = 2 %}
			{% include screenshot.html %}
		{% endif %}

		<!-- Project Background & Play/Download Links -->
		{% if page.links and page.links.size > 0 %}
			{% assign has_links = true %}
		{% endif %}
		{% if page.links2 and page.links2.size > 0 %}
			{% assign has_links2 = true %}
		{% endif %}
		{% if page.background or has_links %}
		<div class="v-center-col col-lg-6 col-12 order-lg-4 mb-5 text-center">
			<div>
				{% if page.background %}
				<h4 class="mt-4">Project Background</h4>
				<p>
					{{ page.background }}
				</p>
				{% endif %}

				{% if has_links %}
					{% if page.links_title %}
						<h4>{{ page.links_title }}</h4>
					{% else %}
						<h4>Play It Now!</h4>
					{% endif %}
					<p>
						{% for link in page.links %}
							<a href="{{ link[1] }}" download>{{ link[0] }}</a><br>
						{% endfor %}
						{{ page.text_below_links }}
					</p>
				{% endif %}

				{% if has_links2 %}
					<h4>{{ page.links2_title }}</h4>
					<p>
						{% for link in page.links2 %}
							<a href="{{ link[1] }}" download>{{ link[0] }}</a><br>
						{% endfor %}
					</p>
				{% endif %}
			</div>
		</div>
		{% endif %}


		<!-- Screenshot 1 -->
		{% if page.screenshots and page.screenshots[1] %}
			{% assign screenshot_path = page.image_path | append: page.screenshots[1] %}
			{% assign order_lg = 3 %}
			{% include screenshot.html %}
		{% endif %}


		<!-- Project Members and Source Code -->
		{% if page.project_members or page.source_code or page.featured_on %}
		<div class="v-center-col col-lg-6 col-12 order-lg-5 mb-5 text-center">
			<div>
				{% if page.project_members %}
				<h4>Team</h4>
				<p>
					<!-- {% comment %} Members system based on GCS Wobsite - https://github.com/GameCreationSociety/GameCreationSociety.github.io/blob/master/_layouts/game-page.html {% endcomment %} -->
					{% for member in page.project_members %}
						{% for site_member in site.members %}
							{% assign member_string = member[0] %}
							{% assign member_match_string = site_member.title %}
							
							{% if member_string == member_match_string %}
								<a href="{{ site_member.website }}">{{ member_string }}</a> - <i>{{ member[1] }}</i><br>
								{% assign found = true %}
								{% break %}
							{% endif %}
						{% endfor %}
						{% if found != true %}
							{{ member_string }} - <i>{{ member[1] }}</i><br>
						{% endif %}
						{% assign found = false %}
					{% endfor %}
				</p>
				{% endif %}

				{% if page.source_code %}
				<h4 class="mt-4">Source Code</h4>
				<p>
					{% for source in page.source_code %}
					<a href="{{ source[1] }}" target="_blank">{{ source[0] }}</a><br>
					{% endfor %}
				</p>
				{% endif %}

				{% if page.featured_on and page.featured_on.size > 0 %}
					<h4>Featured On</h4>
					<p>
						{% for link in page.featured_on %}
							<a href="{{ link[1] }}" download>{{ link[0] }}</a><br>
						{% endfor %}
					</p>
				{% endif %}
			</div>
		</div>
		{% endif %}


		<!-- Remaining Screenshots -->
		{% for img in page.screenshots offset:2 %}
			{% assign screenshot_path = page.image_path | append: img %}
			{% assign order_lg = 6 %}
			{% include screenshot.html %}
		{% endfor %}


		<!-- Gameplay videos -->
		{% if page.gameplay_videos and page.gameplay_videos.size > 0 %}
			{% if page.gameplay_videos.size == 1 %}
			<div class="col-lg-6 col-12 order-last mb-5 text-center">
			{% else %}
			<div class="col-12 order-last mb-5 text-center">
			{% endif %}
				{% if page.gameplay_videos.size == 1 %}
					<h3>Gameplay Video</h3>
				{% else %}
					<h3>Gameplay Videos</h3>
				{% endif %}
				<div class="row no-margin justify-content-center">
					{% for video in page.gameplay_videos %}
						{% if page.gameplay_videos.size == 1 %}
						<div class="col-12 d-flex justify-content-center" style="padding: 8px">
						{% else %}
						<div class="col-lg-6 col-12 d-flex justify-content-center" style="padding: 8px">
						{% endif %}
							<div class="video-container">
								<iframe class="video-iframe" src="https://{{ video }}" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		{% endif %}

		
		<!-- SoundCloud embed -->
		{% if page.SoundCloud_embed %}
		<div class="col-lg-6 col-md-9 col-12 order-last mb-5 text-center justify-content-center">
			<h3>Original Soundtrack</h3>
			<iframe class="soundcloud-embed" scrolling="no" frameborder="no" allow="autoplay" src="{{ page.SoundCloud_embed }}"></iframe>
		</div>
		{% endif %}


		<!-- My Contributions -->
		{% if page.my_contributions %}
		<div class="col-12 order-last mb-5 text-center">
			{% if page.project_members %}
				<h3>My Contributions</h3>
			{% else %}
				<h3>My Process</h3>
			{% endif %}
			<p>
				{{ page.my_contributions }}
			</p>
		</div>
		{% endif %}

	</div>
</div>
