---
# Front Matter
layout: game-page-wrapper
---

<!-- Title -->
{% if page.display_title %}
<div class="row mb-4">
	<div class="col-sm-12">
		<h1 class="display-3 text-center">{{ page.title }}</h1>
	</div>
</div>
{% endif %}


<!-- Logo -->
{% if page.logo %}
<div class="col-sm-12 mb-5">
	<img class="game-logo rounded-img" src="{{ page.image_path }}{{ page.logo }}" alt="Game Logo">
</div>
{% endif %}


<!-- Main Content -->
<div class="row v-center-row mt-4">

	<!-- Description -->
    {% if page.description %}
	<div class="v-center-col col-md-6 mb-5 text-center">
		<div class="v-center-content">
			<h4>Description</h4>
			<p>
				{{ page.description }}
			</p>
		</div>
	</div>
	{% endif %}


	<!-- Screenshot 0 -->
    {% if page.screenshots and page.screenshots[0] %}
	<div class="v-center-col col-md-6 mb-5">
		<img class="v-center-img rounded-img" src="{{ page.image_path }}{{ page.screenshots[0] }}" alt="Game Screenshot">
	</div>
	{% endif %}


	<!-- Screenshot 1 -->
    {% if page.screenshots and page.screenshots[1] %}
	<div class="v-center-col col-md-6 mb-5">
		<img class="v-center-img rounded-img" src="{{ page.image_path }}{{ page.screenshots[1] }}" alt="Game Screenshot">
	</div>
	{% endif %}

	<!-- Project Background & Play/Download Links -->
	{% if page.links and page.links.size > 0 %}
		{% assign has_links = true %}
	{% endif %}
    {% if page.background or has_links %}
	<div class="v-center-col col-md-6 mb-5 text-center">
		<div class="v-center-content">
			{% if page.background %}
			<h4 class="mt-4">Project Background</h4>
			<p>
				{{ page.background }}
			</p>
			{% endif %}

			{% if has_links %}
				{% if page.not_playable %}
					<h4>Links</h4>
				{% else %}
					<h4>Play It Now!</h4>
				{% endif %}
				<p>
					{% for link in page.links %}
						<a href="{{ link[1] }}" download>{{ link[0] }}</a><br>
					{% endfor %}
				</p>
			{% endif %}
		</div>
	</div>
	{% endif %}


	<!-- Project Members and Source Code -->
	{% if page.project_members or page.GitHub_repo %}
	<div class="v-center-col col-md-6 mb-5 text-center">
		<div class="v-center-content">
			{% if page.project_members %}
			<h4>Team</h4>
			<p>
				<!-- {% comment %} Members system based on GCS Wobsite - https://github.com/GameCreationSociety/GameCreationSociety.github.io/blob/master/_layouts/game-page.html {% endcomment %} -->
                {% for member in page.project_members %}
                    {% for site_member in site.members %}
						{% assign member_string = member[0] %}
						{% assign member_match_string = site_member.title %}
                        
                        {% if member_string == member_match_string %}
                            <a href="{{ site_member.website }}">{{ member_string }}</a> - <i>{{ member[1] }}</i><br>
                            {% assign found = true %}
                            {% break %}
                        {% endif %}
                    {% endfor %}
                    {% if found != true %}
                        {{ member_string }} - <i>{{ member[1] }}</i><br>
                    {% endif %}
                    {% assign found = false %}
                {% endfor %}
			</p>
			{% endif %}

			{% if page.GitHub_repo %}
			<h4 class="mt-4">Source Code</h4>
			<p>
				<a href="{{ page.GitHub_repo }}" target="_blank">GitHub Repository</a><br>
			</p>
			{% endif %}
		</div>
	</div>
	{% endif %}


	<!-- Screenshot 2 -->
    {% if page.screenshots and page.screenshots[2] %}
	<div class="v-center-col col-md-6 mb-5">
		<img class="v-center-img rounded-img" src="{{ page.image_path }}{{ page.screenshots[2] }}" alt="Game Screenshot">
	</div>
	{% endif %}


    <!-- Gameplay videos -->
    {% if page.gameplay_videos and page.gameplay_videos.size > 0 %}
	<div class="col-12 text-center">
		{% if page.gameplay_videos.size == 1 %}
			<h3>Gameplay Video</h3>
		{% else %}
			<h3>Gameplay Videos</h3>
		{% endif %}
		<div class="row no-margin justify-content-center">
			{% for video in page.gameplay_videos %}
			<div class="col-xl-6 col-lg-6 d-flex justify-content-center" style="padding: 8px">
				<div class="video-container">
					<iframe class="video-iframe" src="https://{{ video }}" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
    {% endif %}


	<!-- Remaining Screenshots -->
	{% for img in page.screenshots offset:3 %}
	<div class="v-center-col col-md-6 mb-5">
		<img class="v-center-img rounded-img" src="{{ page.image_path }}{{ img }}" alt="Game Screenshot">
	</div>
	{% endfor %}


	<!-- My Contributions -->
    {% if page.my_contributions %}
	<div class="v-center-col col-md-12 mb-5 text-center">
		<div class="v-center-content">
			<h3>My Contributions</h3>
			<p>
				{{ page.my_contributions }}
			</p>
		</div>
	</div>
	{% endif %}


</div>
