/* Imports */
/* @import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css"); */
@import url("https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css");


/* Responsive styling */
/* https://getbootstrap.com/docs/4.1/layout/overview/#responsive-breakpoints */
@media (min-width: 576px) {
    html {
        font-size: 0.9em;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 1em;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 1.05em;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 1.1em;
    }
}

/* Text styling */
p {
	font: 1.4em cambria;
}

.cambria {
	font-family: cambria;
}
.belweMedium {
	font-family: "BelweMedium" !important;
}
.italic {
	font-style: italic;
}
.bold {
	font-weight: bold;
}
.not-bold {
  font-weight: normal !important;
}

.indented {
	text-indent: 1.5em;
}

.no-margin-bottom {
	margin-bottom: 0;
}
.no-padding-sides {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.white-text {
	color: white;
}

a.no-link-style,
a.no-link-style:hover {
	color: inherit;
	text-decoration: none;
}
a.no-link-style:hover h2 {
	text-decoration: underline;
}
a.no-link-style:hover h3 {
	text-decoration: underline;
}

/* Nav bar styling */
.nav-item {
	margin-right: 0.5em;
	margin-left: 0.5em;
}

/* Footer */
#page-footer {
	/* background-color: black; */
	/* font-family: "Cabin", Helvetica, Arial, serif; */
	/* font-weight: normal; */
	/* width: 100%; */
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;            /* Footer height */
}

/* About page styling */
.profile_image {
	width: 300px;
	height: 300px;
	border-radius: 35%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.profile_name {
	font: bold 2.2em cambria;
}

p.about_details {
	text-indent: 1.5em;
}

.about_details {
	text-indent: 1.5em;
}

/* Game pages styling */
.game-title {
	font-family: cambria;
	font-style: italic;
}

.game-logo {
	width: 80%;
	margin-left: 10%;
}

/* .game-video {
max-width: 80%;
max-height: 40em;
} */

/* Vertical centering in Boostrap rows */
html, body, .v-center-container {
	height: 100%;
}
.v-center-col {
	height: 75%;
}
.v-center-row {
	height: 50%;
}
.v-center-content {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	width: 95%;
}
.v-center-img {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	max-height: 98%;
	max-width: 98%;
}

/* Rounded corners on images */
.rounded-img {
	border-radius: .4rem;
}

/* Custom margin alignments */
.ml-medium {
	margin-left: 6vw !important;
}
.mr-medium {
	margin-right: 6vw !important;
}

.mt-neg-medium {
	margin-top: -5rem !important;
}
.mb-large {
	margin-bottom: 7rem !important;
}

/* Game Portfolio page styling */
a.card-link-wrapper,
a.card-link-wrapper:hover {
	color: inherit;
	text-decoration: none;
}
a.card-link-wrapper h1:hover {
	text-decoration: underline;
}

/* Indicators between sections in Contact Me page */
.contact_me_category:before {
	content: ' ';
	background: #d4d9df;
	display: inline-block;
	position: absolute;
	left: 10px;
	width: 2px;
	height: 100%;
	z-index: 400;
}

/* Contact Me icons */
.icon {
	position: absolute;
	width: 26px;
	height: 26px;
	left: 1.5rem;
}
.icon-github {
	left: 1.45rem;
	width: 28px;
	height: 28px;
}
.icon-fb {
	left: 1.4rem;
	width: 30px;
	height: 30px;
}

/* HS Design page styling */
hr.break {
	border-top-width: 10px !important;
}

/* HS Blizztern Set page styling */
.full-width-img {
	max-width: 90%;
}

/* Card Generator page styling */
#card-gen-container {
	padding-left: 3rem;
	padding-right: 3rem;
}

/* Hearthstone Academia page styling */
#tag-selector {
	color: black;
	vertical-align: middle;
	width: 100%;
	margin: 0;
	padding: 0 0.7em;
}
#tag-selector label {
	padding: 0;
	margin: 0;
	vertical-align: middle;
	line-height: 3.0;
}

.checkbox-container {
	display: inline;
	margin: 0.5em 0.25em;

	border: 1px solid #888;
	border-radius: 9px;
	background-color: #f7f7f7;
	overflow: none;
}


/* Vertical timeline styling */
ul.timeline {
	list-style-type: none;
	position: relative;
}
ul.timeline:before {
	content: ' ';
	background: #d4d9df;
	display: inline-block;
	position: absolute;
	left: 29px;
	width: 2px;
	height: 100%;
	z-index: 400;
}
ul.timeline > li {
	margin: 20px 0;
	padding-left: 20px;
}
ul.timeline > li:before {
	content: ' ';
	background: white;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	border: 3px solid #22c0e8;
	left: 20px;
	width: 20px;
	height: 20px;
	z-index: 400;
}

/* Text on the left of the timeline */
.left-timeline-panel {
	display: inline-block;
	position: relative;
	left: -150px;
	top: -24px;
	width: 100px;
	height: 20px;
	z-index: 400;
}
