/* Paragraph text styling */
p {
	font: 1.4em cambria;
}

.cambria {
	font-family: cambria;
}
.italic {
	font-style: italic;
}
.bold {
	font-weight: bold;
}

.game-title {
	font-family: cambria;
	font-style: italic;
}

.profile_image {
	width: 300px;
	height: 300px;
	border-radius: 35%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.profile_name {
	font: bold 2.2em cambria;
}

p.about_details {
	text-indent: 1.5em;
}

.vertical-center {
	display: block;
	top: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.ml-medium {
	margin-left: 6vw !important;
}
.mr-medium {
	margin-right: 6vw !important;
}

.mt-neg-medium {
	margin-top: -5rem !important;
}
.mb-large {
	margin-bottom: 7rem !important;
}

a.card-link-wrapper,
a.card-link-wrapper:hover {
	color: inherit;
	text-decoration: none;
}
a.card-link-wrapper h1:hover {
	text-decoration: underline;
}


/* Text on the left of the timeline */
.left-timeline-panel {
	display: inline-block;
	position: relative;
	left: -140px;
	top: -24px;
	width: 100px;
	height: 20px;
	z-index: 400;
}

/* Indicators between sections in contact me, and about */
.contact_me_category:before {
	content: ' ';
	background: #d4d9df;
	display: inline-block;
	position: absolute;
	left: 10px;
	width: 2px;
	height: 100%;
	z-index: 400;
}


/* Vertical timeline styling */
ul.timeline {
	list-style-type: none;
	position: relative;
}
ul.timeline:before {
	content: ' ';
	background: #d4d9df;
	display: inline-block;
	position: absolute;
	left: 29px;
	width: 2px;
	height: 100%;
	z-index: 400;
}
ul.timeline > li {
	margin: 20px 0;
	padding-left: 20px;
}
ul.timeline > li:before {
	content: ' ';
	background: white;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	border: 3px solid #22c0e8;
	left: 20px;
	width: 20px;
	height: 20px;
	z-index: 400;
}
