/* Blog post styling */

/* Font */
body {
	font-family: "BelweMedium", Optima, Verdana, cambria;
}

/* Paragraph indentation */
p {
	text-indent: 2em;
}
li p {
	text-indent: 0;
}

/* Border to separate columns for split section */
@media (min-width: 768px) {
	.right-border-lg {
		padding-right: 13px;
		border-right: 2px solid #cccccc;
	}
}
